div {
    width: 50%;
    height: auto;
    box-shadow: 3px 3px 10px #000;
    margin: auto;
}

h1 {
    color: green;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding: 12px 0 8px 0;
}

p {
    padding-left: 12px;
    padding-bottom: 4px;
}

a {
    color: #000;
}

span {
    color: #FF0000;
}

section {
    background-color: #cccccc;
    color: #0000cc;
    margin: 0 12px;
    height: 75px;
}