* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo {
    width: 20%;
}

.logo img {
    width: 25%;
    margin-left: 240px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    height: 40px;
}

.search-box input {
    outline: none;
    border: none;
    margin-left: 8px;
}

.search-box select {
    outline: none;
    border: none;
    margin-right: 12px;
}

.search-box button {
    outline: none;
    border: none;
    height: 40px;
    background: black;
    color: #FFF;
    padding: 12px;
    cursor: pointer;
}

.shopping-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink;
    height: 40px;
    width: 200px;
    margin-right: 100px;
    border-radius: 4px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    margin-top: 10px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.list-items {
    list-style-type: none;
    position: relative;
    padding: 20px;
}

.list-items:hover {
    background-color: pink;
}

.list-items>a {
    text-decoration: none;
    color: #FFF;
}

.items-hover {
    background-color: aliceblue;
    list-style-type: none;
    width: 80px;
    display: none;
    position: absolute;
    left: 0;
    top: 62px;
}

.items-hover>li {
    padding: 12px;
}

.items-hover>li>a {
    text-decoration: none;
    color: black;
}

.list-hover:hover .items-hover {
    display: block;
}

.items-hover>li:hover {
    background-color: pink;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-product {
    display: flex;
    flex-direction: row;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid rgb(180, 180, 180);
    max-width: 300px;
    color: #FFF;
    margin: 20px;
}

.text {
    background: rgb(86, 125, 255);
}

.text>h2,
.vote {
    font-size: 20px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main {
    color: rgb(190, 0, 0);
    font-size: 20px;
    margin-right: 20px;
}

.unmain {
    text-decoration: line-through;
}