.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.content-title>h1 {
    font-size: 140px;
    font-weight: 700;
    line-height: 160px;
}

.sign-in__btn {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background: #000000;
    outline: none;
    border: none;
    padding: 10px 28px;
    margin: 40px 0 12px;
    border-radius: 40px;
}

.content-para {
    width: 40%;
}

.content-para>p {
    color: #1d1d1f;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin: 40px 0 20px;
    text-align: center;
}