@import url("./header.css");
@import url("./content.css");
@import url("./selection.css");
@import url("./footer.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}